<!DOCTYPE html>
<html lang="en">
<head>
<title>The Villa in the forest</title>
<meta charset="utf-8" />
<link href="http://localhost:8000/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="The Villa in the forest Full Atom Feed" />
<link href="http://localhost:8000/feeds/.atom.xml" type="application/atom+xml" rel="alternate" title="The Villa in the forest Categories Atom Feed" />
</head>

<body id="index" class="home">
<header id="banner" class="body">
<h1><a href=".">The Villa in the forest <strong></strong></a></h1>
</header><!-- /#banner -->
<nav id="menu"><ul>
<li><a href="/">Home</a></li>
<li><a href="./pages/contact-us.html">Contact&nbsp;Us</a></li>
<li><a href="./pages/slideshow.html">Slideshow</a></li>
</ul></nav><!-- /#menu -->
<section id="content">
<h2>All articles</h2>

<ol id="post-list">
<li><article class="hentry">
<header> <h2 class="entry-title"><a href="./welcome.html" rel="bookmark" title="Permalink to Welcome">Welcome</a></h2> </header>
<footer class="post-info">
<abbr class="published" title="2012-12-31T08:25:00"> Mon 31 December 2012 </abbr>
<address class="vcard author">By <a class="url fn" href="./author/ross-crawford-dheureuse.html">Ross Crawford-d'Heureuse</a></address>                </footer><!-- /.post-info -->
<div class="entry-content"> <p><em>Private Sale Villa (owner&nbsp;seller)</em></p>
<p>The villa is the property of an Architect&#8217;s family, completed in the summer of 1995 and situated in a registered conservation area known as the &#8220;Hardter Wald&#8221; found near the city of Mönchengladbach. The villa is surrounded by private residential plots with an average ...</p> </div><!-- /.entry-content -->
</article></li>
<li><article class="hentry">
<header> <h2 class="entry-title"><a href="./de/wilkommen.html" rel="bookmark" title="Permalink to Wilkommen">Wilkommen</a></h2> </header>
<footer class="post-info">
<abbr class="published" title="2012-12-31T08:25:00"> Mon 31 December 2012 </abbr>
<address class="vcard author">By <a class="url fn" href="./author/ross-crawford-dheureuse.html">Ross Crawford-d'Heureuse</a></address>                </footer><!-- /.post-info -->
<div class="entry-content"> <p><em>Private Sale Villa (owner&nbsp;seller)</em></p>
<p>Das im Sommer 1995 fertiggestellte Anwesen einer Architekten-Familie liegt im Landschaftsschutzgebiet &#8220;Hardter Wald&#8221; von Mönchengladbach, in Nachbarschaft zu weiteren bis zu 15.000 qm großen&nbsp;Grundstücken.</p>
<div id="map_canvas" style="width:512px;height:480px"></div>

<p>Mönchengladbach-Hardt verfügt über eine vollständige Infrastruktur mit hohem Freizeitwert und ausgezeichneten Verkehrsanbindungen über Autobahnen zu den Städten Düsseldorf, Köln ...</p> </div><!-- /.entry-content -->
</article></li>
</ol><!-- /#posts-list -->
<p class="paginator">
Page 1 / 1
</p>
</section><!-- /#content -->
<footer id="contentinfo" class="body">
<address id="about" class="vcard body">
Proudly powered by <a href="http://getpelican.com/">Pelican</a>,
which takes great advantage of <a href="http://python.org">Python</a>.
</address><!-- /#about -->
</footer><!-- /#contentinfo -->
</body>
</html>