<form method="POST" action="{{ request.scheme }}://{{ request.host }}{{ url_for('show_form') }}">
{% if form.errors %}
<ul class="errors">
    {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
            <li>{{ form[field_name].label }}: {{ error }}</li>
        {% endfor %}
    {% endfor %}
</ul>
{% endif %}
<label>{{ form.name.label }}</label> {{ form.name }}
<label>{{ form.email.label }}</label> {{ form.email }}
<label>{{ form.message.label }}</label> {{ form.message }}

<button type="submit">Submit</button>
<form>
